.container-element {
    width: 80vw;
    margin-left: 10vw;
}

.pull-right { 
    float: right;
}

.btn-group {
    display: inline;
}

.form-inline .btn-group {
    display:inline-block;
    vertical-align: middle;
  }

.inline {
    display: inline-block;
    input, button {
        display: inline-block;
        width: auto; 
        vertical-align: middle;
    }
}