h1 {
    font-size: 7vw;
}
  
small {
    font-weight: bold;
    font-size: 2vw;
}

i.fa-angle-down {
    position: fixed;
    bottom: 1vh;
    right: 49vw;
    font-size: 5vw;
}

div {
    display: inline-block;
}

.border {
    border: 2px solid black;
}
  
.container, .row {
    display: block;
}

a {
    color: white;
}

@media only screen and (min-width: 600px) {
    .mam {
        font-size: 200%;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 300%;
    }
    .fact {
        font-size: 120%;
    }
    .fa-angle-down {
        display: none;
    }
}

.mam span {
    margin: 0 5px;
}