div.masthead {
  padding-bottom: 6rem;
  h1 {
    font-size: 3rem;
    line-height: 3rem;
    font-family: 'Montserrat';
    font-weight: 700;
  }
  h2 {
    font-size: 1.3rem;
  }
  img {
    max-width: 57vw;
    border-radius: 50%;
    border: 5px solid #fff;
  }
}

@media (min-width: 992px) {
  div.masthead {
    padding-bottom: 6rem;
    h1 {
      font-size: 4.75em;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.75em;
      font-weight: bold;
    }
    img {
      max-width: 12vw;
    }
  }
}

// Custom Horizontal Rule with Star Icon
hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: "Font Awesome 5 Free";
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #61a8fb;
}
